doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title Memory Matrix
    block css
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oswald:400,300,700')
      link(rel='stylesheet', href='/css/styles.css')
  body
    block content
  script(src='/js/main.js')
